{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Только пользователь с ролью "Администратор" имеет возможность создавать соревнования</title>
</head>
<body>
<h1 align="center"><font color="red">Только пользователь с ролью "Администратор" имеет возможность создавать
    соревнования</font></font></h1>

<div align="center">
    <a href="/">
        <button class="green_button">Вернутья обратно на стартовую страницу</button>
    </a>
</div>
</body>
</html>
{% endblock %}