{% extends "base.html" %}

{% block content %}
<head>

</head>
<body>

  <div class="login-container">
    <h2>Создание нового соревнования</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{form.date_of_start_competition.label}}
        {{form.date_of_start_competition(type="date", id="date_of_start_competition", style="width: 18%")}}
      </div>
      <div class="form-group">
        {{form.header_for_competition.label}}
        {{form.header_for_competition(type="text", style="width: 80%", id="commentary_for_competition", placeholder="Введите комментарии к соревнованию")}}
      </div>
      <div class="form-group">
        {{form.commentary_for_competition.label}}
        {{form.commentary_for_competition(type="text", style="width: 80%", id="commentary_for_competition", placeholder="Введите комментарии к соревнованию")}}
      </div>
      <div class="form-group">
        {{form.date_of_starting_registration_members.label}}
        {{form.date_of_starting_registration_members(type="datetime-local", id="commentary_for_competition", placeholder="Введите комментарии к соревнованию", style="width: 23%")}}
      </div>
      <div class="form-group">
        {{form.date_of_ending_registration_members.label}}
        {{form.date_of_ending_registration_members(type="datetime-local", id="commentary_for_competition", placeholder="Введите комментарии к соревнованию", style="width: 23%")}}
      </div>
      <div class="form-group">
        {{form.submit(type="submit")}}
      </div>
      <div>{{message}}</div>
    </form>
  </div>
</body>
{% endblock %}