{% extends "base.html" %}

{% block content %}
<head>

</head>
<body>

{{ form.hidden_tag() }}
<form method="POST" id="form_for_reg_team" action="">
    <input type="hidden" value="False" name="is_second_member" id="is_second_member">
    <h4 align="left">Название команды</h4>

    <div class="form-group">
        {{form.name_command.label}}
        {{form.name_command(type="text")}}
    </div>

    <h4 align="left">Название организации</h4>

    <div class="form-group">
        {{form.name_of_organization.label}}
        {{form.name_of_organization(type="text")}}
    </div>

    <h3 align="left">Руководитель</h3>

    <div class="form-group">
        {{form.manager.label}}
        {{form.manager(type="text")}}
    </div>

    <div class="form-group">
        {{form.email_of_manager.label}}
        {{form.email_of_manager(type="email")}}
    </div>

    <div class="form-group">
        {{form.number_phone_of_manager.label}}
        {{form.number_phone_of_manager(type="text")}}

    </div>

    <h3 align="left">Участник 1</h3>


    <div class="form-group">
        {{form.name_first_member.label}}
        {{form.name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.last_name_first_member.label}}
        {{form.last_name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.middle_name_first_member.label}}
        {{form.middle_name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.date_birthday_first_member.label}}
        {{form.date_birthday_first_member(type="date", style="width: 25%")}}
    </div>

    <div class="form-group">
        {{form.certificate_PFDO_first_member.label}}
        {{form.certificate_PFDO_first_member(type="text")}}
    </div>

    <h3 align="left">Участник 2</h3>
    <input type="checkbox" id="checkBox_for_second_member" value="True">
    <label for="checkBox_for_second_member">Есть второй участник</label>
    <h5><font color="red">(если его нет, то просто пропустите поля)</font></h5>
    <div class="form-group">
        {{form.name_second_member.label}}
        {{form.name_second_member(type="text", disabled=True)}}
    </div>

    <div class="form-group">
        {{form.last_name_second_member.label}}
        {{form.last_name_second_member(type="text", disabled=True)}}
    </div>

    <div class="form-group">
        {{form.middle_name_second_member.label}}
        {{form.middle_name_second_member(type="text", disabled=True)}}
    </div>

    <div class="form-group">
        {{form.date_birthday_second_member.label}}
        {{form.date_birthday_second_member(type="date", style="width: 25%", disabled=True)}}
    </div>

    <div class="form-group">
        {{form.certificate_PFDO_second_member.label}}
        {{form.certificate_PFDO_second_member(type="text", disabled=True, value="-")}}
    </div>
    <h3 align="left">Номинация</h3>
    {% if create_or_redact_team_form_html == "redact" %}
        <div align="left">
            {% if nom == "Пилот" %}
                <input type="radio" name="nomination" id="pilot" value="1" checked>
                <label for="pilot">Пилот</label>
                <br>
                <input type="radio" name="nomination" id="autopilot" value="2">
                <label for="autopilot">Автопилот</label>
            {% else %}
                <input type="radio" name="nomination" id="pilot" value="1">
                <label for="pilot">Пилот</label>
                <br>
                <input type="radio" name="nomination" id="autopilot" value="2" checked>
                <label for="autopilot">Автопилот</label>
            {% endif %}
        </div>
    {% else %}
        <div align="left">
            <input type="radio" name="nomination" id="pilot" value="1" checked>
            <label for="pilot">Пилот</label>
            <br>
            <input type="radio" name="nomination" id="autopilot" value="2">
            <label for="autopilot">Автопилот</label>
        </div>
    {% endif %}
    <script>
      var checkbox = document.getElementById('checkBox_for_second_member');
      var input_certificate_PFDO_second_member = document.getElementById('certificate_PFDO_second_member');
      var input_date_birthday_second_member = document.getElementById('date_birthday_second_member');
      var input_middle_name_second_member = document.getElementById('middle_name_second_member');
      var input_last_name_second_member = document.getElementById('last_name_second_member');
      var input_name_second_member = document.getElementById('name_second_member');
      var input_for_is_second_member = document.getElementById('is_second_member');

      checkbox.addEventListener('change', function () {
        if (!checkbox.checked) {
          input_for_is_second_member.value = "False"
          input_certificate_PFDO_second_member.disabled = true;
          input_date_birthday_second_member.disabled = true;
          input_middle_name_second_member.disabled = true;
          input_last_name_second_member.disabled = true;
          input_name_second_member.disabled = true;

          input_certificate_PFDO_second_member.value = "-";
          input_date_birthday_second_member.value = "-";
          input_middle_name_second_member.value = "-";
          input_last_name_second_member.value = "-";
          input_name_second_member.value = "-";
        } else {
          input_for_is_second_member = "True"
          input_certificate_PFDO_second_member.disabled = false;
          input_date_birthday_second_member.disabled = false;
          input_middle_name_second_member.disabled = false;
          input_last_name_second_member.disabled = false;
          input_name_second_member.disabled = false;
        }
      });
    </script>
    <div class="form-group">
        {% if create_or_redact_team_form_html == "create" %}
            {{form.submit(type="submit", text="Зарегистрировать")}}
        {% else %}
            {{form.submit(type="submit", text="Сохранить")}}
        {% endif %}
    </div>
</form>
</body>
{% endblock %}