{% extends "base.html" %}

{% block content %}
<head>

</head>
<body>

{{ form.hidden_tag() }}
<form method="POST" action="">

    <h4 align="left">Название команды</h4>

    <div class="form-group">
        {{form.name_command.label}}
        {{form.name_command(type="text")}}
    </div>

    <h4 align="left">Название организации</h4>

    <div class="form-group">
        {{form.name_of_organization.label}}
        {{form.name_of_organization(type="text")}}
    </div>

    <h3 align="left">Руководитель</h3>

    <div class="form-group">
        {{form.manager.label}}
        {{form.manager(type="text")}}
    </div>

    <div class="form-group">
        {{form.email_of_manager.label}}
        {{form.email_of_manager(type="email")}}
    </div>

    <div class="form-group">
        {{form.number_phone_of_manager.label}}
        {{form.number_phone_of_manager(type="text")}}

    </div>

    <h3 align="left">Участник 1</h3>


    <div class="form-group">
        {{form.name_first_member.label}}
        {{form.name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.last_name_first_member.label}}
        {{form.last_name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.middle_name_first_member.label}}
        {{form.middle_name_first_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.date_birthday_first_member.label}}
        {{form.date_birthday_first_member(type="date", style="width: 25%")}}
    </div>

    <div class="form-group">
        {{form.certificate_PFDO_first_member.label}}
        {{form.certificate_PFDO_first_member(type="text")}}
    </div>

    <h3 align="left">Участник 2</h3>
    <h5><font color="red">(если его нет, то просто пропустите поля)</font></h5>

    <div class="form-group">
        {{form.name_second_member.label}}
        {{form.name_second_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.last_name_second_member.label}}
        {{form.last_name_second_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.middle_name_second_member.label}}
        {{form.middle_name_second_member(type="text")}}
    </div>

    <div class="form-group">
        {{form.date_birthday_second_member.label}}
        {{form.date_birthday_second_member(type="date", style="width: 25%")}}
    </div>



    <div class="form-group">
        {{form.certificate_PFDO_second_member.label}}
        {{form.certificate_PFDO_second_member(type="text")}}
    </div>
    <h3 align="left">Номинация</h3>
    {% if create_or_redact_team_form_html == "redact" %}
        <div align="left">
            {% if nom == "Пилот" %}
                <input type="radio" name="nomination" id="pilot" value="1" checked>
                <label for="pilot">Пилот</label>
                <br>
                <input type="radio" name="nomination" id="autopilot" value="2">
                <label for="autopilot">Автопилот</label>
            {% else %}
                <input type="radio" name="nomination" id="pilot" value="1">
                <label for="pilot">Пилот</label>
                <br>
                <input type="radio" name="nomination" id="autopilot" value="2" checked>
                <label for="autopilot">Автопилот</label>
            {% endif %}
        </div>
    {% else %}
        <div align="left">
            <input type="radio" name="nomination" id="pilot" value="1" checked>
            <label for="pilot">Пилот</label>
            <br>
            <input type="radio" name="nomination" id="autopilot" value="2">
            <label for="autopilot">Автопилот</label>
        </div>
    {% endif %}

    <div class="form-group">
        {% if create_or_redact_team_form_html == "create" %}
            {{form.submit(type="submit", text="Зарегистрировать")}}
        {% else %}
            {{form.submit(type="submit", text="Сохранить")}}
        {% endif %}
    </div>
</form>
</body>
{% endblock %}